body{
    background-color: #F6E5D1;
    font-size: 30px;
}

#orientation{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
    text-align: center;
    background-color: #000;
    width: 100%;
    height: 667px;
    z-index: 100000;
    color: #fff;
}
#orientation p{
    padding-top: 250px;
}

/* 头部导航栏  */
header{
    text-align: center;
    height: 70px;
    padding:44px 44px 32px 44px;
}
a{
    text-decoration: none;
}
header .btn-box{
    width: 322px;
    display: inline-block;
    height: 70px;
    background-color:#d2b79e;
    border-radius: 8px; 
}
.btn-l{
    color: #fff;
}
.active{
    background-color: #F2736A;
}
.btn-r{
    color:#000;
}
header span a{
    display: inline-block;
    width: 145px;
    height: 50px;
    line-height: 50px;
    margin-top:10px;
    border-radius: 8px;
    text-align: center;
    font-size: 25px;
}

.icon-jia,.icon-daohangfenlei{
    line-height: 70px;
}

.iconfont{
    font-size: 60px!important;
    color: #fff;
}


/* 说说部分 */
.chunk{
    width: 100%;
    margin-top: 52px;
}
.infor-top{
    padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.infor-top img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 20px;
}
.infor-top span{
    flex: 1;
    font-size: 45px;
}
.xing{
    font-size: 35px;
    padding-right: 20px;
    color:red;
}
.icon-xingxing{
    padding-right: 20px; 
    color:red;
}

.text{
    text-indent: 2em;
    padding: 47px 0;
}

.pic{
    width: 100%;
    background-image: url('../img/2.jpg');
    background-repeat: no-repeat;
    height: 350px;
    background-size: cover;
    text-align: center;
}
.time{
    font-size: 100px;
    line-height: 350px;
    color: rgba(255,255,255,0.5)
}

/* 页脚 */

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;   
}
footer ul{
    display: flex;
    flex-direction: row;
}
footer ul li{
    flex: 1;
    display: inline-block;
    line-height: 100px;
    text-align: center; 
}
footer a{ 
    color: #fff; 
}
footer li:nth-child(1){
    background-color: red;
}
footer li:nth-child(2){
    background-color: #000;
}
footer li:nth-child(3){
    background-color:#d2b79e;
}


.cover{
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   background:rgba(0,0,0,0.5);
   width: 100%;
   height:100%;
   z-index: 3;
}

.page{
    transform: translateX(0);
    transition: all 1s ease;
}
.menu{
    position: absolute;
    left:-560px;
    top:0;
    width: 560px;
    height:100%;
    background-color: #ccc;
    z-index: 5;
    transition: all 1s ease;
}
.show .page,.show .menu{
    transform: translateX(560px);
}
#hide{
    position: absolute;
    right: -107px;
    top: 45px;
    display: none;
}
.show .cover,.show #hide{
    display: block;
    color: #f40;
}
.primary{
    height: 1334px;
}
.show .primary{
    overflow: hidden;
}




/* menu 弹出菜单 */
.menu{
    padding: 60px 50px;
}
.menu .myimg{
    width: 100px;
    height: 100px;
    border-radius: 8px;
}
.username{
    position: absolute;
    top:0px;
    left: 0px;
    display: inline-block;
    font-size:40px;
    top: 72px;
    left: 182px;
}
.menu ul{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    height: 50%;
    margin-bottom: 100px;
}
.menu ul li{
    border-top: 1px solid #4555;
    padding-top: 20px;
    flex:1;
}
.menu ul li:hover{
    color:#014564;
}
.menu ul li:last-child{
    border-bottom: 1px solid #4555;
}
.menu ul li span{
    vertical-align: middle;
    padding-right: 52px;
}
.logo{
    width: 100%;
    filter: blur(3px);
}







/* 3个按钮 => 3个 界面 */

.one{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #bfc6ea;
}
.two{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #7bde9c;
}
.three{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F2736A;
}
.content1,.content2,.content3{
    text-align: center;
    padding-top: 100px;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;

}


/* 弹出 */
.code{
    position: absolute;
    top: 150px;
    height: 820px;
    left: 91px;
    width: 80%;
    background-image: url('../img/code.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}